@import "tailwindcss";

@layer theme {
  :root {
    --background: #ffffff;
    --foreground: #18181b; /* zinc-950 */
    --muted: #f4f4f5; /* zinc-100 */
    --muted-foreground: #71717a; /* zinc-500 */
    --border: #e4e4e7; /* zinc-200 */
  }

  .dark {
    --background: #09090b; /* zinc-950 */
    --foreground: #fafafa; /* zinc-50 */
    --muted: #27272a; /* zinc-800 */
    --muted-foreground: #a1a1aa; /* zinc-400 */
    --border: #27272a; /* zinc-800 */
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Inter, system-ui, sans-serif;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

html {
  scroll-behavior: smooth;
}

/* Custom themed scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--muted-foreground);
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--border) transparent;
}